// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
}

main {
    margin-top: 60px;
    min-height: calc(100vh - 114px);
}

#up {
    position: fixed;
    bottom: 50px;
    right: 25px;
    display: none;
   
}


